:host {
  display: block;
  background-color: rgba(226,0,152,0.25);
}

nav {
  height: 100%;
  display: flex;
  /*flex-direction: column;*/
  justify-content: flex-start;
  align-items: center;
}

nav > a {
  margin-left: 16px;
}
